{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block head %}
	<link href="{{ url_for('static', filename='style/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<!-- Form filters -->
	<div class="row py-2 rounded text-dark ml-0 px-2 bg-white" id="filter-sidebar">
		<h5 class="w-100">Job Type</h5>
		{% for filter in ["Full-time", "Internships", "Work From Home"] %}
			<div class="w-100">
				<span class="btn btn-sm btn-block btn-light text-left mb-2">{{ filter }}</span>
			</div>
		{% endfor %}

		<h5 class="w-100 mt-5">Categories</h5>
		{% for filter, color in [("Web development", "info"), ("Software Intern", "danger"), ("Graphic Design", "warning")] %}
			<div class="w-100">
				<span class="btn btn-sm btn-outline-{{ color }} btn-block mb-2">{{ filter }}</span>
			</div>
		{% endfor %}
	</div>

	<div class="container py-2 shadow mt-4">
		<!-- Search form -->
		<form class="">
			<div class="row mx-auto">
				<span class="col-lg-2 my-2 h4 py-1 text-center">I want to work</span>
				<span class="input-group col-lg-7 py-2">
					<input type="text" name="textJob" class="form-control rounded" placeholder="as a product designer, ..." />
					<button type="button" class="btn btn-outline-0 text-primary">&raquo;</button>
					<input type="text" name="textCompany" class="form-control rounded" placeholder="at SSM Tech, ..." />
					<button type="submit" class="btn btn-outline-0 text-primary">&raquo;</button>
					<input type="text" name="textPlace" class="form-control rounded" placeholder="in Bengaluru, ..." />
				</span>
				<button type="submit" class="btn btn-success col-lg-2 mx-1 my-2" name="buttonSearch"><i class="fas fa-search"></i> Search</button>
			</div>
		</form>
	</div>

	<div class="container-fluid">
		<!-- Search results -->
		<div class="container my-3 px-0" id="search-results">
			<div class="h4">Search Results</div>
			<div class="row row-cols-1 row-cols-md-2">
				{% for name, color, company, salary in [("Software Intern", "red", "Apple Inc.", "35,000"), ("Graphic Design", "warning", "Google LLC.", "40,000"), ("Website Design", "info", "SSM. Tech", "25,000")]*2 %}
				<div class="col mb-4">
					<div class="card rounded-0">
						<div class="card-header p-1 bg-{{ color }} rounded-0"></div>
						<div class="card-body">
							<div class="card-title row mb-0">
								<div class="h5 col-md text-md-left">{{ name }}</div>
								<span class="col-md-auto text-success py-1 mx-2 rounded-lg text-center h6">&#8377;{{ salary }} / month</span>
							</div>
							<div class="card-subtitle text-muted mb-1">{{ company }}&nbsp;
								{% for count in range(5) %}
									<span class="">
										{% if count < 4 %}
											&starf;
										{% else %}
											&star;
										{% endif %}
									</span>
								{% endfor %}
							</div>
							<div class="dropdown-divider"></div>
							<div class="card-text row mx-0">
								<span class="card-text col-md-auto pl-0">Required Skills: </span>
								<span class="col-md bg-light rounded row mx-0">
									{% for skill, knows in [('HTML', 1), ('CSS', 1), ('JS', 0), ('Figma', 0)] %}
										<span>
												{% if knows == 1 %}<span class="text-success">&check;</span>{% endif %}
											<a href="#" class="col-6 col-md-auto text-center pl-0
											{% if knows == 1 %}
												text-success
											{% else %}
												text-dark
											{% endif %}">{{ skill }}</a>
										</span>
									{% endfor %}
								</span>
							</div>
							<!-- <div class="row mt-3 mx-0 border progressContainer">
								{% for part in range(4) %}
									<div class="progressBar col px-1
									{% if part < 3 %}
									bg-success
									{% endif %} ">&nbsp;</div>
								{% endfor %}
							</div> -->
							<!-- <div class="row my-1 mx-2">
								{% for part in ['Skills', 'Experience', 'Location', 'Salary'] %}
									<div class="col px-1 h6 text-center">{{ part }}</div>
								{% endfor %}
							</div> -->
							<div class="dropdown-divider"></div>
							<div class="row mx-1">
								<div class="col-auto text-center rounded p-1 mx-1 mt-1"><i class="fas fa-clock text-red"></i> Full-time</div>
								<div class="col-auto text-center rounded p-1 mx-1 mt-1"><i class="fas fa-map-marker-alt text-red"></i> Pune, India</div>
								<a href="/job" class="col-md-auto btn text-primary rounded p-1 px-2 ml-auto mt-1">More</a>
							</div>
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}